{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}Page d'accueil{% endblock %}


{% block body %}
<a href="{{ path("personnages") }}">lien personnages</a><br>
<a href="{{ path("armes") }}">lien armes</a>
{% endblock %}
